
@font-face {
	font-family: "Poppins-Bold";
	font-weight: 700;
	src: url(../assets/fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
	font-family: "Poppins-Regular";
	font-weight: 400;
	src: url(../assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
	font-family: "Jost-Regular";
	font-weight: 400;
	src: url(../assets/fonts/Jost/static/Jost-Regular.ttf);
}

@font-face {
	font-family: "Jost-Bold";
	font-weight: 700;
	src: url(../assets/fonts/Jost/static/Jost-Bold.ttf);
}

*,*::beforme,*::after {
	box-sizing: border-box;
}

a,button {
	cursor: revert;
	text-decoration: none;
}

html {
	font-family: "Poppins-Regular", sans-serif;
	font-weight: 400;
	font-size: 24px;
	line-height: 36px;
}

body {
	width: 98vw;
	height: 98vh;
}

img {
	max-inline-size: 100%;
	max-block-size: 100%;
}

table {
	border-collapse: collapse;
}

input,textarea {
	-webkit-user-select: auto;
}

textarea {
	white-space: revert;
}

meter {
	-webkit-appearance: revert;
	appearance: revert;
}

:where(pre) {
	all: revert;
}

::placeholder {
	color: unset;
}

::marker {
	content: initial;
}

:where([hidden]) {
	display: none;
}

:where([contenteditable]:not([contenteditable=false])) {
	-moz-user-modify: read-write;
	-webkit-user-modify: read-write;
	overflow-wrap: break-word;
	-webkit-line-break: after-white-space;
	-webkit-user-select: auto;
}

:where([draggable=true]) {
	-webkit-user-drag: element;
}

:where(dialog:modal) {
	all: revert;
}

.aboute-button,.welcome-part-button  {
	width: clamp(150px,15vw,246px);
	height: clamp(50px,12vw,72px);
	cursor: pointer;
	border: 2px solid #2000e7;
	box-shadow: 11px 21px 15px 6px rgba(0,0,0,.25);
	border-radius: 10px;
	text-align: center;
	font-weight: 400;
	font-size: clamp(16px,4vw,24px);
	line-height: 36px;
	color: #2000e7;
}

.about-button:focus,.welcome-part-button:focus,.about-button:hover,.welcome-part-button:hover {
	background: #2000e7;
	color: #fff;
}

.contact-title,.project-title,.about-title,.welcome-part-title {
	font-weight: 700;
	color: #2000e7;
}

.contact-text,.project-text,.about-text,.welcome-part-text {
	font-weight: 400;
	font-size: clamp(16px,3vw,24px);
	line-height: 36px;
	color: #383838;
}

.header-container {
	display: flex;
	justify-content: space-around;
	margin-top: 45px;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
}

.form {
	display: grid;
	grid-template-columns: minmax(100%, 50%);
}

.form-input,.form-area,.form-button {
	margin-top: clamp(41px,12vw,81px);
	background: #fff;
	box-shadow: 13px 21px 4px rgba(0,0,0,.25);
	color: #383838;
	font-size: clamp(16px,5vw,32px);
	font-weight: 400;
	line-height: 48px;
}

.form-input,.form-area {
	padding: 30px 55px;
}

.form-area {
	white-space: pre-wrap;
	overflow-wrap: break-word;
}

.form-button {
	margin-top: 50px;
	justify-self: center;
	height: clamp(50px,7vw,94px);
	width: clamp(200px,24vw,327px);
	cursor: pointer;
	text-align: center;
	transition: 1s;
}

.form-button:hover,.form-button:focus {
	background-color: rgba(0,0,0,.25);
	color: #fff;
	box-shadow: 13px 21px 4px rgba(0,0,0,.75);
}

.logo {
	font-family: "Poppins-Bold", sans-serif;
	font-weight: 700;
	font-size: 48px;
	font-style: normal;
	line-height: normal;
	color:#0E0578;
}

.menu-item {
	font-family: "Poppins-Regular", sans-serif;
	list-style-type: none;
	font-weight: 400;
	line-height: 45px;
	color: #686565;
	position: relative;
}

.header-container {
  padding: 2vw;
  display: grid;
  grid-template-columns: 1fr 3fr;
  place-items: center center;
}

.header-nav {
	display: none;
	width: clamp(150px,35vw,210px);
	height: 235px;
	background-color: #ebe9fd;
	border-radius: 0px 0px 0px 191px;
	border: 1px solid #0e0578;
	overflow: hidden;
	position: absolute;
	z-index: 1;
	top: 100%;
	right: 0;
}

.menu {
	position: absolute;
	top: 0;
	right: 5%;
	flex-direction: column;
	display: flex;
	justify-content: space-between;
}

.welcome-part-welcome-container {
	padding: 190px 80px;
	display: grid;
	grid-template-columns: 40% 1fr;
	gap: clamp(40px,4vw,80px);
}

.welcome-part-subtitle {
	font-weight: 400;
	font-size: clamp(20px,4vw,30px);
	line-height: 45px;
	color: #2000e7;
}

.welcome-part-title {
	margin-top: 5px;
	font-size: clamp(30px,6vw,48px);
	line-height: clamp(50px,7vw,72px);
	letter-spacing: 0em;
}

.welcome-part-highlight {
	color: #e0ad17;
}

.welcome-part-text {
	margin-top: 20px;
}

.welcome-part-button {
	margin-top: 90px;
	display: flex;
	justify-content: space-between;
}

.about-container {
	padding: 206px 46px;
	background: url("../assets/images/1 1.svg") no-repeat right bottom/65%;
	display: grid;
	grid-template-columns: 415px;
}

.about-title {
	font-size: clamp(30px,6vw,48px);
	line-height: clamp(50px,7vw,72px);
	letter-spacing: 0.35em;
}

.about-text {
	margin-top: 30px;
}

.about-button {
	margin-top: 30px;
	margin-left: 30px;
}

.project-block {
	height: clamp(150px,20vw,300px);
}

.project-container {
	padding: 35px 108px;
}

.project-title {
	font-size: clamp(30px,6vw,48px);
	line-height: clamp(50px,7vw,72px);
	letter-spacing: 0.2em;
	text-align: center;
}

.project-text {
	text-align: center;
}

.project-list {
	margin-top: 45px;
	margin-bottom: 30px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
	row-gap: clamp(23px,6vw,46px);
	column-gap: clamp(60px,5vw,186px);
}

.project-list-item {
	justify-self: center;
}

.project-lightbox {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.4);
	transition: .4s;
	display: grid;
	place-content: center;
	visibility: hidden;
	opacity: 0;
}

.project-lightbox-image {
	height: 30vw;
}

.project-lightbox-left,.project-lightbox-right {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	position: relative;
	width: 3vw;
	height: 7vw;
	font-size: 10vw;
	color: #fff;
}

.project-lightbox-left {
	bottom: -18vw;
}

.project-lightbox-right {
	right: -38vw;
	top: -19vw;
}

.contact-block {
	height: clamp(120px,20vw,270px);
}

.container contact-container {
	padding: 67px 0 190px 0;
}

.contact-title {
	margin-top: 67px;
	font-size: clamp(30px,6vw,48px);
	line-height: clamp(50px,7vw,72px);
	letter-spacing: 0.2em;
	text-align: center;
}

.contact-text {
	margin-top: 10px;
	text-align: center;
}

.contact-content {
	margin-top: 160px;
	padding-left: 66px;
	display: grid;
	grid-template-columns: 50% 50%;
	background: url("../assets/images/Saly-13.png") no-repeat right center/55%;
}


.footer-block {
	height: clamp(58px,20vw,208px);
}

.footer-container {
	padding: 200px 50px 0 1%;
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-areas: "contact content" "social social";
	gap: clamp(30px,4vw,110px);
}

.footer-contact {
	grid-area: auto;
}

.footer-contact-title {
	font-weight: 700;
	font-size: clamp(24px,7vw,48px);
	line-height: 72px;
	letter-spacing: .35em;
	color: #0e0578;
}

.footer-contact-block {
	width: clamp(290px,5vw,340px);
	margin-top: 75px;
	display: flex;
	position: relative;
}

.footer-contact-input,.footer-contact-button {
	border-radius: 30px;
	font-family: "Jost";
	font-style: normal;
	font-weight: 700;
	font-size: clamp(16px,3vw,31px);
	line-height: 45px;
	color: #fff;
}

.footer-contact-input {
	padding: 25px 40% 25px 30px;
	width: clamp(160px,100%,320px);
	background: #383838;
}

.footer-contact-button {
	cursor: pointer;
	position: absolute;
	right: -17%;
	background: #f965fc;
	padding: 25px 15px;
	width: clamp(90px,60%,180px);
	text-align: center;
}

.footer-content {
	display: grid;
	grid-template-columns: 1fr 1fr 275px;
	gap: clamp(15px,4vw,100px);
	grid-area: content;
	font-size: clamp(16px,3vw,31px);
	line-height: 45px;
	color: #383838;
}

.footer-content-heading,.footer-conten-list-item {
	font-family: "Jost",sans-serif;
	font-style: normal;
}

.footer-content-heading {
	font-weight: 700;
}

.footer-list {
	margin-top: clamp(15px,3vw,35px);
	display: grid;
	grid-template-columns: 1fr;
	row-gap: clamp(15px,3vw,35px);
}

.footer-list-item {
	font-weight: 400;
}

.footer-social {
	padding: 50px;
	grid-area: social;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;
}

.footer-social-text {
	text-align: center;
	font-family: "Jost";
	font-style: normal;
	font-weight: 400;
	font-size: clamp(16px,3vw,32px);
	line-height: 46px;
	color: #383838;
}

.footer-social-list {
	flex-basis: clamp(200px,29vw,400px);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-social-item {
	transition-duration: .4s;
	transition-delay: .2s;
}

.footer-social-item:hover {
	transform: scale(1.2) translate(-10%, -10%);
}

.aboute {
	background-color: #43BAFD0F;
}

.projects {
	background-color: #FFD69633;
}

.contact {
	background-color: #43BAFD0F;
}

.whitespace {
	background-color: #fff;
}

.footer {
	background-color: #FFD69633;
}
